.content {
        display: flex;
        justify-content: space-between;
        max-width: 90%;
        margin: 0 auto;
        margin-top: 35px;
    }

    .total-order {
        flex-basis: calc(25% - 20px);
        height: 150px;
        border-radius: 10px;
        background-color: gray;
        margin-bottom: 20px;
    }

    .order-head {
        text-align: center;
/*        padding-top: 5px;*/
    }

    .order-body {
        text-align: center;
/*        padding-top: 5px;*/
    }

    .order-body a {
        text-decoration: none;
        color: #000;
    }
    .total-order:nth-child(1) {
        background-color: #34a1fa;
    }

    .total-order:nth-child(2) {
        background-color: #34fab5;
    }

    .total-order:nth-child(3) {
        background-color: #fa3462;
    }
    .container-es {
        display: flex;
        justify-content: center;
    }

    .bar-graph,
    .area-chart {
        width: 400px;
        height: 400px;
        background-color: #e8faf3;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        margin: 30px 100px 40px 0;
    }

    .header {
        padding: 10px;
        text-align: center;
    }

    .line-graph,
    .graph {
        text-align: center;
        margin: 0 auto;
    }
    .graph{
        padding-left: 10px;
        padding-right: 10px;
    }
