body{
	display: flex;
	justify-content: center;
	align-content: center;
	height: auto;
}
.container{
	display: flexbox;
	border: .1px solid rgba(163, 163, 163, 0.506);
	border-radius: 10px;
	padding: 10px;
}
.container .title{
	display: flex;
	justify-content: space-between;
	gap: 50px;
	margin: 10px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.container .title h5{
	font-size: 15px !important;
	position: relative !important;
}
.container .title h5::before{
	content: "";
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 3px;
	background: linear-gradient(to right, #1b9bd6, #1b82d6);
}
.container .title h6{
	font-size: 15px;
	font-weight: 600;
	padding-left: 20px;
}
.container .title h6 a{
	text-decoration: none;
	color: #1b82d6;
}
.container .title h6 a:hover{
	text-decoration: none;
	color: #1b9bd6;
}
.container .form{
	padding: 10px;
}
.container .form .form-data{
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 10px;
}
.container .form .user-details{
	display: flex;
	flex-direction: column;
	padding-bottom: 10px;
}
.container .form .user-details label{
	font-size: 16px;
	padding-bottom: 5px;
}
.container .form .user-details input{
	height: 30px;
	width: 220px;
	border: none;
	outline: none;
	border-radius: 5px;
	font-size: 12px;
	padding-left: 5px;
	box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
	transition: all 120ms ease-out 0s;
}
.container .form .user-details input:focus{
	box-shadow: 0px 0px 0px 1px #1b9bd6;
}
.btn{
	padding: 10px;
}
.btn input{
	display: flex;
	justify-content: center;
	justify-items: center;
	height: 10px;
	width: 100%;
	border: none;
	border-radius: 5px;
	background: #1b82b6;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.btn input:hover{
	background: #1b9bd6;
}
.verification-code-boxes {
  display: flex;
  gap: 10px; /* Adjust gap between boxes as needed */
}

.code-box {
  width: 20px; /* Explicitly set to 20px width */
  height: 20px; /* Explicitly set to 20px height */
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
  font-size: 14px;
}